{{define "title"}}Create a New Snippet{{ end }}

{{define "main"}}
<form action="/snippet/create" method="POST">
  <div>
    <label>Title:</label>
    <input type="text" name="title" required />
  </div>
  <div>
    <label>Content:</label>
    <textarea name="content" required></textarea>
  </div>
  <div>
    <label>Delete in:</label>
    <select name="expires">
      <option value="365">One Year</option>
      <option value="7">One Week</option>
      <option value="1">One Day</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Publish snippet" />
  </div>
</form>
{{ end }}
