{{define "title"}}Snippet #{{.Snippet.ID}}{{ end }}

{{define "main"}}
{{ with.Snippet }}
<div class="snippet">
  <div class="metadata">
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <pre><code>{{.Content}}</code></pre>
  <div class="metadata">
    <time>Created: {{.CreatedAt.Format "02 Jan 2006 at 15:04"}}</time>
    <time>Expires: {{.Expires.Format "02 Jan 2006 at 15:04"}}</time>
  </div>
</div>
{{ end }}
{{ end }}
